.register {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(31, 77, 98, 0.5)
    ),
    url("https://images.pexels.com/photos/317355/pexels-photo-317355.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
}

.registerTitle {
  font-size: 5.0rem;
}

.registerForm {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.registerForm > label {
  margin: 10px 0;
  font-size: 1.4rem;
}

.registerInput {
  padding: 10px;
  background-color: white;
  border: none;
}

.registerButton {
  margin-top: 20px;
  cursor: pointer;
  background-color: teal;
  border: none;
  color: white;
  border-radius: 10px;
  padding: 10px;
}

.registerLoginButton {
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: rgb(233, 91, 91);
  cursor: pointer;
  border: none;
  font-size: 1.3rem;
  padding: 10px;
  color: white;
  border-radius: 10px;
}

.registerLoginButton:hover{
  background-color:red;
  color:white;
  padding:12px;
}